.list {
  &-items {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
  }

  &-item {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #171d33;
    padding: 20px;
    border-bottom: 1px solid #eff2f5;

    &-signout {
      color: #A2A9B2;
      border-bottom: none;
      padding: 40px 20px 20px;
    }

    &-btn {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      text-align: right;
      letter-spacing: 0.5px;
      color: #7d8793;
      border: none;
      background: transparent;
      outline: none;

      &:focus {
        outline: none;
      }

      svg {
        margin-left: 19px;
      }
    }
  }
}
