@import "../../../../media.scss";

.sex-modal-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(4px);
  z-index: 999;
}

.sex-modal {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 335px;
  width: 100%;
  transform: translate(-50%, 0);
  left: 50%;

  @include for-tablet-portrait-up {
    bottom: 50%;
    transform: translate(-50%, 50%);
  }

  &-options {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-radius: 16px;

    button {
      background: transparent;
      border: none;
      padding: 20px 0px;
      border-bottom: 1px solid #eff2f5;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #000;

      &:last-child {
        border-bottom: none;
      }

      &.active {
        color: #ff441b;
      }
    }
  }
}

.settings-btn {
  background: transparent;
  border: none;
  padding: 20px 0px;
  width: 100%;

  &.sex-btn {
    margin-top: 20px;
    background: #ffffff;
    border-radius: 16px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #a2a9b2;
  }
}
