.post-feed-preview {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-gap: 10px;
  grid-auto-rows: calc(50vw - 30px);

  @media (min-width: 950px) {
    grid-template-columns: repeat(3, calc(33.3333333333% - 14px));
    grid-auto-rows: 289.33px;
    grid-gap: 20px;
    max-width: 910px;
    margin: 0 auto;
  }

  margin-bottom: 20px;
}