.post-feed-preview {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 5px));
  grid-gap: 10px;
  grid-auto-rows: calc(50vw - 30px);
  margin-bottom: 20px;

  @media (min-width: 950px) {
    grid-template-columns: repeat(4, calc(25% - 14px));
    grid-auto-rows: 213.5px;
    grid-gap: 20px;
    max-width: 910px;
    margin: 0 auto 20px;
  }
}