@import '../../media.scss';

button {
  background: transparent;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

.settings-container {
  max-width: 375px;
  margin: 0 auto;

  @include for-phone-only {
    max-width: 100%;
  }
}