@import '../../variable';
@import '../../media.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #EFF2F5;
  background-color: #fff;

  @media (min-width: 950px) {
    display: none;
  }
  
  &-left, &-middle, &-right {
    cursor: pointer;
  }

  .empty {
    cursor: initial;
  }

  &-left {
    padding: 20px;

    &-content {
      display: flex;
      align-items: center;
      min-width: 20px;
      width: 20px;
      min-height: 20px;
      height: 20px;
    }
  }

  &-middle {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }

  &-right {
    padding: 20px;

    &-content {
      display: flex;
      align-items: center;
      min-width: 20px;
      width: 20px;
      min-height: 20px;
      height: 20px;
    }
  }
}

.header-desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  position: relative;

  &-wrapper {
    border-bottom: 1px solid #EFF2F5;

    @media (max-width: 949px) {
      display: none;
    }
  }

  &-left {
    display: flex;
    align-items: center;

    &-nav {
      display: flex;
      align-items: center;
      &-link {
        list-style: none;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #000000;
        margin: 0 20px;

        &.disabled {
          opacity: .4;
          cursor: initial;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &-new-post {
      margin-left: 40px;

      &-button {
        list-style: none;

        span {
          background: #FFEEF0;
          border-radius: 39px;
          padding: 9px 20px;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;
          text-align: center;
          color: $primary-color;
        }
      }
    }
  }

  &-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &-right {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 14px;
      min-width: 200px;
      background: #EFF2F5;
      border-radius: 20px;
      opacity: .6;

      @include for-desktop-up {
        min-width: 263px;
      }

      &-text {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: #7D8793;
      }
    }

    &-button {
      display: flex;
      align-items: center;
      margin: 0 14px 0 14px;

      @include for-desktop-up {
        margin: 0 14px 0 40px;
      }

      &-chat, &-basket {
        opacity: .4;
      }

      &-chat {
        margin-right: 16px;
      }
    }

    &-profile {
      min-width: 40px;
      width: 40px;
      min-height: 40px;
      height: 40px;

      &-none {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        color: $primary-color;
      }
    }
  }
}
